/* EVERYTHING */
body {
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: url('bkgd_13.png');
    background-size: 100%;
    background-position-y: -100px;
}

img {
  transition: 0.3s;

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

/* INDEX/WELCOME PAGE*/

.name {    
  /* text-shadow: 5px 5px rgba(0, 0, 0, 0.281); */
  margin-left: 3vw;
  color: rgb(0, 0, 0);
  font-family: 'Bungee Shade', cursive;
  margin-right: 3vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  font-size: 5vw;
  line-height: 8vw;
  text-align: left;
  font-weight: bold;
  overflow: visible;
  float: left;
  position: absolute;
  background-color:rgba(255, 255, 255, 0.822);
  border-color: black;
  border-style: solid;
  padding: 0% 2% 0% 2%;
  /* text-shadow: 0 0 7px #ffffffa1, 0 0 7px #ffffffa9; */
}

.index_body .row {
  margin-top: 3.25vw;
}

.column_pic {
  float: left;
  width: 60%;
}

.column_bio {
  float: left;
  width: 40%;
}

.index_body .bio {
  background-color:rgba(255, 255, 255, 0.822);
  font-size: 20px;
  border-color: black;
  border-style: solid;
  padding: 2% 2% 2% 2%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.index_body {
  background-image: url('bkgd_13.png');
  /* background-position: 0px -10px; */
}

.index_body img {
  /* width: 100%; */
  /* background-repeat: no-repeat; */
  /* margin-left: auto;
  margin-right: auto; */
  background-color:rgba(255, 255, 255, 0.822);
  padding: 2% 2% 2% 2%;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  float: left;
  /* margin-top: 20px; */
  /* border-radius: 1vw 1vw 1vw 1vw; */
  /* filter: drop-shadow(0 0 20px rgb(0, 0, 0)); */
}

.index_body .dropbtn {
  /* margin-bottom: 5vw; */
  margin-top: 4vw;
}




/* CONTENT PAGES */

/* Responsive grid-view */
* {
    box-sizing: border-box;
  }

.center .title_L {
    /* vertical-align: baseline; */
    color: rgb(0, 0, 0);
    font-family: 'Bungee Shade', cursive;
    /* font-family: "Montserrat"; */
    max-width: 30%;
    margin-left: auto;
    margin-right: 2vw;
    margin-top: 8vw;
    font-size: 5vw;
    line-height: 6vw;
    text-align: right;
  text-shadow: 0 0 7px #ffffffa1, 0 0 7px #ffffffa9;


}
.center .title_R {
    /* text-align: baseline right; */
    font-family: 'Bungee Shade', cursive;
    max-width: 30%;
    color: rgb(0, 0, 0);
    margin-left: auto;
    margin-top: 3vw;
    font-size: 2vw;
    line-height: 3vw;
    text-align: left;
  text-shadow: 0 0 7px #ffffffa1, 0 0 7px #ffffffa9;

}

.mech_eng {
    /* color:crimson; */
    font-size: 3vw;
  text-shadow: 0 0 7px #ffffffa1, 0 0 7px #ffffffa9;

}

.center h1 {
    display: inline-flex; 
    vertical-align: flex;
    
}
.center img {
    width: 30%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 3vw; */
    filter: drop-shadow(0 0 5px rgb(15, 6, 19));
  }
.center h2 {
    background-image: url(C:/Projects/My_Website/bkgd_1.svg);
    background-color: blue;
}





ul {
    list-style-type: none;
    text-transform: uppercase;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* position: -webkit-sticky; Safari */
    /* position: sticky; */
    margin-top: 0; 
    min-height: 48px;
    background-color: rgba(0, 0, 0, 0);
  }
  
  li {
    float: right;
    margin-right: 10%;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .dropbtn {
    border-color: black;
    border-style: solid;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(0, 195, 255, 0);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(247, 255, 255, 0.911);
    min-width: 160px;
    max-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 15px;
  }
  
  .dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown-content a:hover {
    background-color: rgba(147, 234, 240, 0.822);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.navbar li {
    /* display: inline; */
    margin-top: 1vw;
    margin-right: 2vw;
    margin-bottom: 0vw;
    margin-left: 2vw;
    font-family: "Montserrat";
    font-size: 1vw;
    color: rgb(43, 226, 150);
    text-align: center;
    float: right;
}

.navbar li a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.navbar li {
    display: inline-block;
  }  

/* Change link colour for active page */
li a.active {
    color: rgb(0, 0, 0);
    font-style: italic;

}

/* meat */

/* W3 Add padding BETWEEN each column (if you want) W3*/
.row,
.row > .column {
  padding: 8px;
}

.row,
.row > .column_null {
  padding: 8px;
}

.row,
.row > .column_pic {
  padding: 8px;
}

.row,
.row > .column_bio {
  padding: 8px;
}

/* W3 Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}

.column_null {
  float: left;
  width: 50%;
}

/* W3 Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* W3 Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .column {
    width: 100%;
  }
  .column_null {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .column_pic {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .column_bio {
    width: 100%;
  }
}

/* for the phones */
@media screen and (max-width: 700px) {
  .content_meat {
    height: auto;
  }
  .content_meat a, h3{
    font-size: 25px;
  }
  .content_meat a, h2{
    font-size: 20px;
  }
  .content_meat p {
    font-size: 20px;
  }

  .content_meat_null {
    height: auto;
  }
  .content_meat_null a, h3{
    font-size: 25px;
  }
  .content_meat_null a, h2{
    font-size: 20px;
  }
  .content_meat_null p {
    font-size: 20px;
  }
  
}

/* for the computers */
@media screen and (min-width: 699px) {
  .content_meat {
    height: 70vw;
  }
  .content_meat a, h3{
    font-size: 3vw;
  }
  .content_meat a, h2{
    font-size: 20px;
  }
  .content_meat p {
    font-size: 2vw;
  }

  .content_meat_null {
    height: 70vw;
  }
  .content_meat_null a, h3{
    font-size: 3vw;
  }
  .content_meat_null a, h2{
    font-size: 20px;
  }
  .content_meat_null p {
    font-size: 2vw;
  }
}


.content_header header{
  font-size: 5vw;
  font-family: "Montserrat";
  /* margin-left: 10vw; */
  margin-bottom: 2vw;
  margin-top: 20px;
  word-break: break-all;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 7px #ffffff, 0 0 7px #ffffff;

}

.content_meat {
  /* background-color:rgba(147, 234, 240, 0.822); */
  background-color:rgba(255, 255, 255, 0.822);
  padding: 2% 4% 1% 0%;
  border-color: black;
  border-style: solid;
  
}

.content_meat_null {
  /* background-color:rgba(147, 234, 240, 0.822); */
  background-color:rgba(255, 255, 255, 0.822);
  padding: 2% 4% 1% 0%;
  border-color: black;
  border-style: solid;
  
}

.content_meat a, img{
  margin-left: auto;
  width: 100%;
  border-width: 10px;
  border-color: black;
}

.content_meat_null a, img{
  margin-left: auto;
  width: 100%;
  border-width: 10px;
  border-color: black;
}

.content_meat img {
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.content_meat_null img {
  border-color: black;
  border-style: solid;
  border-width: 3px;
  margin-left: 2%;
}

.content_meat a, h3 {
  font-family: "Montserrat";
  margin-left: 1vw;
  color: black;
  text-decoration: none;
  margin-bottom: 1vw;
}
.content_meat h2 {
  font-family: "Montserrat";
  margin-left: 2vw;
  color: black;
  text-decoration: none;
  margin-bottom: 1vw;
  /* text-align: right; */
}

.content_meat_null a, h3 {
  font-family: "Montserrat";
  margin-left: 1vw;
  color: black;
  text-decoration: none;
  margin-bottom: 1vw;
}
.content_meat_null a, h2 {
  font-family: "Montserrat";
  margin-left: 1vw;
  color: black;
  text-decoration: none;
  margin-bottom: 1vw;
}

.content_meat p {
  margin-left: 2vw;
  margin-top: 1vw;
  /* font-size: 20px; */
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content_meat_null p {
  margin-left: 2vw;
  margin-top: 1vw;
  /* font-size: 20px; */
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content_meat:hover {
  font-style: italic;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}



.footer {
  /* background-color:rgba(147, 234, 240, 0.822); */
  background-color:rgba(255, 255, 255, 0.822);
  
  bottom: 0mm;
  padding: 1% 1% 0% 1%;
  bottom: 0px;
  margin-top: 1vw;
}

.footer .footer_credit {
  /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  font-family: 'Libre Barcode 128 Text';
  font-size: 3vw;
  min-width: 30px;
  /* font-style: italic; */
  max-width: 30%;
  margin-left: 1vw;
  margin-right: 2vw;
  margin-top: 8vw;
  line-height: 6vw;
  text-align: right;
}

.footer img {
  float: right;
  min-width: 1cm;
  max-width: 1.5cm;
  border-radius: 50%;
  margin: 1% 0.5cm 0vw 0.5cm;
  padding: 0% 0% 0% 0%;
  display: inline; 

}

.footer img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

/* Example Pages */

.example_header {
  font-size:4vw;
  font-family: "Montserrat";
  margin-top: 6vw;
  margin-bottom: 1vw;
  /* word-break: break-all; */
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 7px #ffffff, 0 0 7px #ffffff;
}

.example_meat {
  background-color:rgba(255, 255, 255, 0.822);
  padding: 1% 0% 1% 0%;
}

.example_meat h1 {
  font-size: 20px;
  font-family: "Montserrat";
  /* margin-top: 3vw; */
  margin-left: 5vw;
  margin-bottom: 2vw;
  /* word-break: break-all; */
  text-align: left;
  text-transform: uppercase;
}

.example_meat h2 {
  font-size: 15px;
  font-family: "Montserrat";
  /* margin-top: 3vw; */
  margin-left: 5vw;
  margin-bottom: 2vw;
  /* word-break: break-all; */
  text-align: left;
  text-transform: uppercase;
}

.example_meat p {
  margin-left: 8vw;
  font-size: 20px;
  margin-right: 8vw;
  text-align: left;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



/* Lightbox */

.example_row {
  margin-bottom: 3vw;
}

.example_row > .example_column {
  padding: 0 8px;
  margin-top: 5vw;
}

.example_row:after {
  content: "";
  display: table;
  clear: both;
}

.example_column {
  float: left;
  width: 25%;
  padding-left: 1%;
  padding-right: 1%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 3vw;
  overflow: auto;
  /* background-color: rgba(169, 248, 248, 0.918); */
  /* background-color:rgba(147, 234, 240, 0.945); */
  background-color:rgba(49, 49, 49, 0.966);

}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  margin: auto;
  padding: 0;
  width: 60%;
  max-width: 1200px;
  margin-bottom: 3vw;
}

/* The Close Button */
.close {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgb(0, 0, 0), 0, 0);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.example img {
  margin-bottom: -4px;
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.caption-container {
  text-align: center;
  /* background-color: black; */
  background-color:rgba(77, 77, 77, 0);
  padding: 2px 10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
}

.demo {
  opacity: 0.6;
}



.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

