
h1 {
    /*transform: skewY(-5deg);*/
    color:  #d31b71;
    margin-top: 50px;
    font-family: 'Bungee_Shade';
    font-weight: normal;
    font-size: 50px;
    padding-left: 0%;
}
@font-face {
    font-family: 'Bungee_Shade';
    src: url('...Fonts/Bungee_Shade/BungeeShade-Regular.ttf');
    format('truetype');
    }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    background: url('bkgd_2.svg');
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;

    width: 100%;
    height: 100%;
    /* Text styles */
    perspective: 4px; /* The depth */
    overflow-x: hidden;
    overflow-y: scroll;
}
header {
    width: 100%;
    min-height: 100vh;
    position: relative;
    transform-style: preserve-3d;
}
header {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    
    z-index: 0;
    /*transform: translateZ(-1px) scale(2);*/
}
header div {
    position: absolute;

    z-index: 1;
    top: 25px;
    padding: 0;
    transform: translateZ(-2px) scale(1.5);
}

section{
    width: 100%;
    background: rgb(122, 24, 24);
    position: relative;
    z-index: 2;
}